<div class="box-it">
    <h3>Add Item to Cart</h3>
    <form [formGroup]="form" (ngSubmit)="processForm()">
        <table>
            <tr>
                <td>Name:</td>
                <td><input type="text" size="30" formControlName="name"></td>
            </tr>
            <tr>
                <td>Unit Price ($):</td>
                <td><input type="number" min="0.00" step="0.05" formControlName="unitPrice"></td>
            </tr>
            <tr>
                <td>Quantity:</td>
                <td>
                    <select formControlName="quantity">
                        <option *ngFor="let i of itemQty" value="{{ i }}">{{ i }}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button type="submit" [disabled]="form.invalid">Add</button>
                </td>
            </tr>
        </table>
    </form>
</div>